.progress-cell {
  position: relative;
  height: 50px;
}
.progress-text, .progress-image {
  position: absolute;
  width: 100px;
  height: 100px;
}
.progress-text {
  top: 12px;
  left: 7px;
}

.progress-image {
  top: 0px;
  left: 0px;
}
