.max-width-class {
  max-width: 300px; /* Adjust the maximum width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-crop {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  object-position: center;
}


