
<div *ngIf="activeComponent === 'wishlist'">
  <div class="container mt-5">
    <table class="table table-bordered table-striped table-dark">
      <!-- Table header -->
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>Shipping Option</th>
          <th>Favorite</th>
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop through the data and display each item -->
        <tr *ngFor="let item of wishList; let i = index">
          <td>{{ i + 1 }}</td> <!-- Index starts from 1 -->
          <td><img [src]="item.Image" alt="{{ item.Title }}" class="img-thumbnail"></td>
          <td>
            <a (click)=" selectItem(item)"  class="btn btn-link text-truncate max-width-class">
              {{ item.Title }}
            </a>
          </td>
          <td>${{ item.Price }}</td>
          <td>{{ item.Shipping }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeFromWishList(i,item)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>
          <td><strong>Total Shopping</strong></td>
          <td><strong>${{ calculateTotal() }}</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>


<div *ngIf="activeComponent === 'detail'" >
  <div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary col-1" (click)="activeComponent = 'wishlist'">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
      List
    </button>
    <div class="col-9"></div>
  </div>
  <app-item-details *ngIf="showItemDetails && isDataLoaded" (close)="hideItemDetails()" [itemId]="itemId" [Index]="Index"></app-item-details>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div *ngIf="showItemDetails && !isDataLoaded" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
      </div>
    </div>
  </div>
</div>
